<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>
    <a href="/catalog/brand/<%=brand._id  %>/update">Update Brand</a>
    <a href="/catalog/brand/<%=brand._id  %>/delete">Delete Brand</a>
    <p>Name: <%= brand.name %></p>
    <p>Origin: <%= brand.origin %></p>

    <div>
        <%if(shoes.length > 0){%>
            <%shoes.forEach(element => {%>
                <div class="shoe-list">
                    
                </div>
           <%})%>
           <%}else{%>
                <p>There are no shoes for this brand</p>
            <%}%>
    </div>
</body>
</html>