<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./head.ejs')  %>
    <h1><%= title %></h1>
    <p>Welcome to rgrgrgr <%= title %></p>
      <p>Shoe Count: </p> <%=shoe_count %>
      <p>Seller Count: </p> <%=seller_count %>
      <p>Brand Count: </p> <%=brand_count %>
      <p>Shoe instance available Count: </p> <%=shoeinstance %>
  </body>
</html>
