<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./head.ejs')  %>
    <h1><%= title %></h1>
    <p>Welcome to rgrgrgr</p> <p><%= title %></p>
      <p>Shoe Count: </p> <p><%=shoe_count %></p>
      <p>Seller Count: </p> <p><%=seller_count %></p>
      <p>Brand Count: </p> <p><%=brand_count %></p>
      <p>Shoe instance available Count: </p> <p><%=shoeinstance %></p>
  </body>
</html>
