<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section>
        <a href="/catalog/seller/create">New Seller</a>
        <%if(seller_list.length > 0){%>
        <%seller_list.forEach(element => {%>
            <div class="shoe-list">
                <a href="/catalog/seller/<%=element._id%>"> <%=element.name %> </a>
                <p> <%= element.established%> </p>
            </div>
       <%})%>
       <%}else{%>
            <p>There are no Sellers</p>
        <%}%>
    </section>
</body>
</html>