<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section>
        <a href="/catalog/shoes/create">New Shoe</a>
        <%if(shoe.length > 0){%>
        <%shoe.forEach(element => {%>
            <div class="shoe-list">
                <a href="/<%=element.url%>"> <%=element.title %> </a>
                <p> <%= element.seller.name%> </p>
            </div>
       <%})%>
       <%}else{%>
            <p>There are no shoes</p>
        <%}%>
    </section>
</body>
</html>